@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --color-brand-white: #F5F5F5;
  --color-brand-black: #050505;
  --color-brand-navy: #BFFF00;
}

@layer base {
  html {
    scroll-behavior: smooth;
    @apply overflow-x-hidden;
  }
  body {
    @apply bg-brand-white text-brand-black font-sans antialiased overflow-x-hidden;
  }
  section {
    scroll-margin-top: 80px;
  }
  @media (min-width: 768px) {
    section {
      scroll-margin-top: 128px;
    }
  }
}
